<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--Configure your configuration Section Handler which is Log4NetConfigurationSectionHandler-->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <log4net>
    <!--Only one root logger element may only be defined and it must be a child of <log4net> 
element. The root logger is the root of the logger hierarchy. All loggers ultimately inherit from this logger.-->
    <root>
      <!--Root Element has no attributes-->
      <level value="DEBUG"/>
      <!--Optional element, maximum of one allowed. Defines the logging level for this logger.  
This logger will only accept event that are at this level or above.-->
      <appender-ref ref="LogFileAppender"/>
      <!--Zero or more elements allowed. Allows the logger to reference appenders by name.-->
    </root>
    <!--Appenders may only be defined as child elements of the <log4net> 
element. Each appender must be uniquely named. The implementing type for the appender must be specified.-->
    <!--name = Required attribute. Value must be a string name for this appender.  
The name must be unique among all the appenders defined in this configuration file. This name is used by the <appender-ref> 
element of a Logger to reference an appender.-->
    <!--type = Required attribute. Value must be the type name for this appender.  
If the appender is not defined in the log4net assembly this type name must be fully assembly qualified.-->
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--RollingFileAppender extends FileAppender to backup the log files when they reach a certain size.-->
      <param name="File" value="log.txt"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <!-- layout = Optional element, maximum of one allowed. Defines the layout used by this appender.-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd hh:mm:ss} - %m%n"/>
        <!--%p - will show the level of message 
%d - will show the date 
%l - will show the class, method and line number where error occurred and  
%m - will show message to display 
See more pattern from Here http://www.beefycode.com/post/Log4Net-Tutorial-pt-4-Layouts-and-Patterns.aspx 
-->
      </layout>
    </appender>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
